
/*input type*/
input[type="text"], textarea {
  padding: 5px;
  color:#888;
  font-size: 42px;
  outline: none;
  font-family: "NotoSansKR-Medium";
}


input {
  margin: 0;
  padding: 0;
  font-size:45px; 
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"] {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  box-shadow: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="tel"] {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  display: none;
}

input[type=radio] + label {
  position: absolute;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: absolute;
  cursor: pointer;
}

textarea {
  display: block;
  line-height: normal;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  resize: none;
  font-family: "NotoSansKR-Medium";
  width: 95%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}